*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 2;
}

:root{
  --pure-blue-color: rgba(0, 0, 255, 0.7);
  --ink-black-color: #06080f;
  --easter-red-color: rgba(201, 37, 25, 0.7);
  --white-color: #fff;
  --emerald-green-color: #50c878;
  --royal-azure-color:#1866e1;
  --bright-grey: #ebecf0;
  --comfort-lagoon-blue: #5091E0;
  --lipstick-red-color: #b31b38;
}

.page-header{
  display: flex;
  background-color: var(--pure-blue-color);
  background-size: 100% 100%;
  background-size: cover;
}

.page-header__item{
  flex: 0 0 175px;
  width: 200px;
  float: left;
  height: auto;
}

.page-header__item:last-child{
  flex-grow: 1;
  align-self: flex-end;
}

.navigation-list{
  list-style: none;
}

.navigation-list li{
  display: inline-block;
  margin-left: 15px;
  background: var(--white-color);
  padding: 0 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px -5px;
  margin: 15px;
  border: inset;
}

.navigation-list__item{
  text-decoration: none;
  color: var(--ink-black-color);
}

body{
  background: var(--easter-red-color);
}

.page-footer{
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color:var(--pure-blue-color);
  padding: 1%;
  margin: 5%;
  box-shadow: 0 50vh 0 50vh var(--pure-blue-color);
}

.pokemon{
  display: flex;
  justify-content: center;
}

.pokedex-image {
  position: relative;
}

.pokemon-list{
  display: grid;
  grid-template-columns: 100px;
  position: absolute;
  list-style-type: none;
  height: 135px;
  width: 225px;
  margin-top: 227px;
  margin-right: 365px;
  font-size: 15px;
  overflow: hidden;
  overflow-y: scroll;
}

h1{
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 900;
}

h2{
  font-size: 30px;
}

p{
  display: inline-block;
}

.home-title{
  text-align: center;
}

.pokemon-info{
  text-align: center;
}

.list-title{
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.find-me{
  text-decoration:overline;
}

.search {
  display: flex;
  justify-content: center;
}

.search-item {
  background-image: url('../img/search-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  font-size: 16px;
  padding: 12px 20px 12px 50px;
  border: 1px solid var(--ink-black-color);
  margin-bottom: 12px;
}

.reference {
  font-size: 10px;
}

.button-class{
  border: none;
  background: var(--comfort-lagoon-blue);
  color: var(--ink-black-color);
  border-radius: 5px;
  border-bottom: 3px solid var(--white-color);
  transition: .5s opacity;
  text-align: center;
  cursor: pointer;
  margin: 5px;
}

.modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: var(--bright-grey);
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  background: var(--white-color);
  color: var(--ink-black-color);
  padding: 0 10px;
  border-radius: 5px;
  box-shadow: 0 10px 10px -5px;
  margin-bottom: 10px;
}

.modal h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  background: linear-gradient(var(--easter-red-color), var(--royal-azure-color));
  width: 100%;
}

.modal p {
  font-size: 20px;
  display: block;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.modal img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.modal-container {
  display: none;
}

.modal-container.is-visible {
  display: block;
}

span{
  font-style: italic;
  text-decoration: underline;
  font-size: 18px;
}

@media all and (min-width: 320px) and (max-width: 750px){
  .search-item {
    width: 60%;
  }
  .page-header__item{
    max-width: 50%;
    height: auto;
  }
  .navigation-list li{
    max-width: 70%;
    height: auto;
    font-size: 10px;
    display: block;
  }
  .pokedex-image {
    position: relative;
    width: 100%;
  }
  .pokemon-list{
    grid-template-columns: auto;
    height: 50px;
    width: 95px;
    margin-top: 125px;
    margin-left: 160px;
    padding: 0;
    font-size: 8px;
  }
}

@media all and (max-width: 320px){
  .search-item {
    width: 75%;
  }
  .pokedex-image {
    position: relative;
    width: 100%;
  }

  .pokemon-list{
    width: 75px;
    margin-top: 100px;
    margin-left: 180px;
    padding: 0;
    font-size: 5px;
  }
}
