*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 2;
}

:root{
  --pure-blue-color: rgba(0, 0, 255, 0.7);
  --ink-black-color: #06080f;
  --easter-red-color: rgba(201, 37, 25, 0.7);
  --white-color: #fff;
  --emerald-green-color: #50c878;
  --royal-azure-color:#1866e1;
}

.page-header{
  background-color: var(--pure-blue-color);
  display: flex;
  justify-content: flex-start;
}

.page-header__item{
  width: 200px;
}

body{
  background-color: var(--easter-red-color);
}

.pokemon-list{
  text-align: center;
  padding: 5px;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 30px;
}

p{
  display: inline-block;
}

.home-title{
  text-align: center;
}

.pokemon-info{
  text-align: center;
}

.list-title{
  text-decoration: underline;
}

.button-class{
  border: none;
  background-color: var(--royal-azure-color);
  color: var(--ink-black-color);
  border-radius: 5px;
  border-bottom: 3px solid var(--white-color);
  transition: .5s opacity;
  text-align: center;
  cursor: pointer;
}

span{
  font-style: italic;
  text-decoration: underline;
  font-size: 18px;
}
