*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 2;
}

:root{
  --pure-blue-color: rgba(0, 0, 255, 0.7);
  --ink-black-color: #06080f;
  --easter-red-color: rgba(201, 37, 25, 0.7);
  --white-color: #fff;
  --emerald-green-color: #50c878;
  --royal-azure-color:#1866e1;
  --bright-grey: #ebecf0;
  --comfort-lagoon-blue: #5091E0;
  --lipstick-red-color: #b31b38;
  --pikachu-yellow: #f6cf57;
  --neon-aqua: #21F8F6;
}

.page-header{
  background-color: var(--pure-blue-color);
  background-size: 100% 100%;
  background-size: cover;
}

.page-header__item{
  width: 200px;
  height: auto;
  float: left;
}

.navigation-list{
  list-style: none;
}

.navbar .navbar-nav .nav-item{
  background-color: var(--white-color);
  border-radius: 15px;
  box-shadow: 0 10px 10px -5px;
  margin: 5px;
  border: inset;
  border-color: var(--neon-aqua);
  transition: all 150ms ease-in-out;
}

.navbar .nav-item:hover .nav-link {
  box-shadow: 0 0 10px 0 var(--neon-aqua) inset, 0 0 10px 4px var(--neon-aqua);
}

.navbar .navbar-nav .nav-link {
  color: var(--ink-black-color);
}

.navbar .navbar-toggler {
  border: 1px solid var(--ink-black-color);
  background-color: var(--white-color);
}

body{
  background: var(--easter-red-color);
}

.page-footer{
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color:var(--pure-blue-color);
  padding: 1%;
  margin: 5%;
  box-shadow: 0 50vh 0 50vh var(--pure-blue-color);
}

.pokemon{
  display: flex;
  justify-content: center;
}

.img-fluid {
  position: relative;
  width: 50%;
}

.pokemon-image {
  position: inherit;
  padding: 5px;
  width: 40%;
  margin-top: 0;
}

.list-group{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  position: absolute;
  list-style-type: none;
  height: 80px;
  padding: 0;
  width: 15%;
  font-size: 15px;
  margin-top: 15%;
  margin-right: 25%;
  overflow: hidden;
  overflow-y: scroll;
}

.btn-outline-primary {
  width: 70%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.list-group::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.list-group {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

h1{
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 900;
  color: var(--ink-black-color);
}

h2{
  font-size: 30px;
  color: var(--ink-black-color);
}

p{
  display: inline-block;
  color: var(--ink-black-color);
}

.pokemon-info{
  text-align: center;
}

.list-title{
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.find-me{
  text-decoration:overline;
}

.search {
  display: flex;
  justify-content: center;
}

.search-item {
  background-image: url('../img/search-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  font-size: 16px;
  padding: 12px 20px 12px 50px;
  border: 1px solid var(--ink-black-color);
  margin-bottom: 12px;
}

.reference {
  font-size: 10px;
}

.button-class{
  border: none;
  background: var(--comfort-lagoon-blue);
  color: var(--ink-black-color);
  border-radius: 5px;
  border-bottom: 3px solid var(--white-color);
  transition: .5s opacity;
  text-align: center;
  cursor: pointer;
  margin: 5px;
}

.modal-content {
  border-radius: 50px;
}

.modal-title {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  width: 100%;
}

.modal-header {
  background: linear-gradient(var(--easter-red-color), var(--royal-azure-color));
  border: 1px solid black;
  border-bottom: 0;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
}

.modal h1 {
  font-size: 55px;
}

.modal-body {
  border: 1px solid black;
  border-bottom: none;
}

.modal span{
  text-decoration: none;
  font-size: 30px;
  font-style: normal;
  color: var(--white-color);
}

.modal-footer {
  font-size: 20px;
  display: block;
  text-align: center;
  border: 1px solid black;
  border-top: none;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  background: var(--bright-grey);
}

.modal img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.modal-container {
  display: none;
}

.modal-container.is-visible {
  display: block;
}

span{
  font-style: italic;
  text-decoration: underline;
  font-size: 18px;
}

@media all and (min-width: 320px) and (max-width: 750px){
  .search-item {
    width: 60%;
  }

  .img-fluid {
    position: relative;
    width: 100%;
  }

  .list-group{
    height: 6%;
    width: 25%;
    font-size: 10px;
    margin-top: 32%;
    margin-right: 46%;
  }

  .pokemon-image{
    width: 25px;
  }

  .modal h1{
    font-size: 30px;
  }
}

@media all and (max-width: 575px) {
  .navbar .navbar-nav .nav-item{
    width: 50px;
    text-align: center;
    font-size: 10px;
  }

  .navbar .navbar-nav{
    justify-content: center;
    flex-direction: row;
  }
}

@media all and (max-width: 320px){

  h2{
    font-size: 15px;
  }

  p {
    font-size: 10px;
  }

  .search-item {
    width: 75%;
  }
  
  .page-header__item{
    width: 150px;
  }

  .img-fluid {
    position: relative;
    width: 100%;
  }

  .list-group{
    width: 20%;
    margin-top: 30%;
    margin-right: 45%;
    font-size: 5px;
  }
  .pokemon-image{
    width: 20px;
  }

  .modal h1{
    font-size: 30px;
  }
}

@media all and (max-width: 319px) {
  .list-group{
    height: 7%;
  }
}
